body {
    font-family: Inter, sans-serif;
    background: linear-gradient(#202126, #0D0D0D);
    color: #FFFFFF;
    font-weight: 200;
    font-size: 14px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
    padding-top: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #5D4404;
}

main {
    margin-top: 110px;
    ;
}

.main-header__name {
    color: #747474;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.main-header__row-socials {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 14px;
    font-size: 12px;
}

.row-socials__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.row-socials__item:hover {
    color: #747474;
}

.main-header__row-nav {
    display: flex;
    gap: 14px;
    font-size: 12px;
}

.row-nav__item {
    cursor: pointer;
}

.row-nav__item:hover {
    color: #747474;
}