body {
    font-family: Inter, sans-serif;
    background: linear-gradient(#202126, #0D0D0D);
    color: #FFFFFF;
    font-weight: 200;
    font-size: 14px;
    margin: 0;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10vw;
    max-width: 80vw;
    padding-top: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #5D4404;
}

main {
    margin-top: 10vh;
}

.main-header__name {
    color: #747474;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.main-header__row-socials {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 14px;
    font-size: 12px;
}

.row-socials__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.row-socials__item:hover {
    color: #747474;
}

.main-header__row-nav {
    display: flex;
    gap: 14px;
    font-size: 12px;
}

.row-nav__item {
    cursor: pointer;
}

.row-nav__item:hover {
    color: #747474;
}

/* Mobile Menu Styles */
.main-header__menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: #FFFFFF;
}

.main-header__row-nav {
    transition: max-height 0.3s ease;
}

.main-header__row-nav.open {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Media query for mobile view */
@media (max-width: 720px) {
    .main-header {
        flex-direction: column;
    }

    .main-header__row-socials,
    .main-header__name {
        margin-bottom: 10px;
    }

    /* Hide regular nav items and show the menu toggle on mobile */
    .main-header__row-nav {
        display: none;
        max-height: 0;
        overflow: hidden;
    }

    .main-header__menu-toggle {
        display: block;
    }

    /* Show menu items when open */
    .main-header__row-nav.open {
        display: flex;
        max-height: 300px;
    }
}