body {
    font-family: Inter, sans-serif;
    background: linear-gradient(#202126, #0D0D0D);
    color: #FFFFFF;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
    padding-top: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #5D4404;
}

.main-header__name {
    color: #747474;
}

.main-header__row-socials {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 14px;
    font-size: 12px;
}

.row-socials__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.row-socials__item:hover {
    color: #747474;
}

.main-header__row-nav {
    display: flex;
    gap: 14px;
    font-size: 12px;
}

.row-nav__item {
    cursor: pointer;
}

.row-nav__item:hover {
    color: #747474;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

.main-content__description {
    width: 50%;
    text-align: center;
    font-size: 14px;
}

.profile-picture {
    border-radius: 50%;
    border: 1px solid #5D4404;
    width: 200px;
    height: 200px;
}

.main-title {
    width: 50%;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    background-image: linear-gradient(to left, #5D4404, #FFFFFF);
    color: transparent;
    background-clip: text;
}